<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cocktail advisor</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="center">
      <div id="container" class="container">
        <%# sidebar list %>
        <div class="left-sidebar">
          <h1 class="welcome dancing-script">Welcome</h1>
          <p class="dancing-script select">
            Select any Cocktail of your liking
          </p>
        </div>

        <div class="right">
          <div class="right-top">
            <form action="/drink" method="post">
              <input name="drink" type="text" class="search" required autocomplete="off"
              <% if (locals.error){ %>
              placeholder="<%=error%>"
             <% } %>
              />
              <button id="search" class="search-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="20">
                <title>magnify</title>
                <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"></path>
              </svg></button>
            </form>
          </div>
          <div class="right-sidebar">
            <%# cocktail list %>
            <div class="cocktails">
              <img
                src="https://www.thecocktaildb.com/images/media/drink/5noda61589575158.jpg"
              />
              <form action="/drink" method="post" class="input-form">
                <input
                  type="hidden"
                  name="drink"
                  value="Margarita"
                  class="hidden-input"
                />
                <button class="btn-submit dancing-script">Margarita</button>
              </form>
            </div>
            <div class="cocktails">
              <img
                src="https://www.thecocktaildb.com/images/media/drink/qgdu971561574065.jpg"
              />
              <form action="/drink" method="post" class="input-form">
                <input
                  type="hidden"
                  name="drink"
                  value="Negroni"
                  class="hidden-input"
                />
                <button class="btn-submit dancing-script">Negroni</button>
              </form>
            </div>
            <div class="cocktails">
              <img
                src="https://www.thecocktaildb.com/images/media/drink/metwgh1606770327.jpg"
              />
              <form action="/drink" method="post" class="input-form">
                <input
                  type="hidden"
                  name="drink"
                  value="Mojito"
                  class="hidden-input"
                />
                <button class="btn-submit dancing-script">Mojito</button>
              </form>
            </div>
            <div class="cocktails">
              <img
                src="https://www.thecocktaildb.com/images/media/drink/upgsue1668419912.jpg"
              />
              <form action="/drink" method="post" class="input-form">
                <input
                  type="hidden"
                  name="drink"
                  value="Pina colada"
                  class="hidden-input"
                />
                <button class="btn-submit dancing-script">Pina colada</button>
              </form>
            </div>
            <div class="cocktails">
              <img
                src="https://www.thecocktaildb.com/images/media/drink/fi67641668420787.jpg"
              />
              <form action="/drink" method="post" class="input-form">
                <input
                  type="hidden"
                  name="drink"
                  value="Sex on the beach"
                  class="hidden-input"
                />
                <button class="btn-submit dancing-script">
                  Sex on the beach
                </button>
              </form>
            </div>
            <div class="cocktails">
              <img
                src="https://www.thecocktaildb.com/images/media/drink/71t8581504353095.jpg"
              />
              <form action="/drink" method="post" class="input-form">
                <input
                  type="hidden"
                  name="drink"
                  value="Martini"
                  class="hidden-input"
                />
                <button class="btn-submit dancing-script">Martini</button>
              </form>
            </div>
            <div class="cocktails">
              <img
                src="https://www.thecocktaildb.com/images/media/drink/kpsajh1504368362.jpg"
              />
              <form action="/drink" method="post" class="input-form">
                <input
                  type="hidden"
                  name="drink"
                  value="Cosmopolitan"
                  class="hidden-input"
                />
                <button class="btn-submit dancing-script">Cosmopolitan</button>
              </form>
            </div>
            <div class="cocktails">
              <img
                src="https://www.thecocktaildb.com/images/media/drink/709s6m1613655124.jpg"
              />
              <form action="/drink" method="post" class="input-form">
                <input
                  type="hidden"
                  name="drink"
                  value="Americano"
                  class="hidden-input"
                />
                <button class="btn-submit dancing-script">Americano</button>
              </form>
            </div>
            <div class="cocktails">
              <img
                src="https://www.thecocktaildb.com/images/media/drink/trbplb1606855233.jpg"
              />
              <form action="/drink" method="post" class="input-form">
                <input
                  type="hidden"
                  name="drink"
                  value="aviation"
                  class="hidden-input"
                />
                <button class="btn-submit dancing-script">Aviation</button>
              </form>
            </div>
            <div class="cocktails">
              <img
                src="https://www.thecocktaildb.com/images/media/drink/t6caa21582485702.jpg"
              />
              <form action="/drink" method="post" class="input-form">
                <input
                  type="hidden"
                  name="drink"
                  value="bloody mary"
                  class="hidden-input"
                />
                <button class="btn-submit dancing-script">Bloody Mary</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
